.content-overlays {
  .overlay {
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    &.design {
      background-image: url('../images/mobile/image-graphic-design.jpg');
    }
    &.photography {
      background-image: url('../images/mobile/image-photography.jpg');
    }
    .text {
      position: absolute;
      bottom: 59px;
      left: 50%;
      transform: translateX(-50%);
      h3 {
        font-family: $serif-font;
        font-size: 28px;
        line-height: 34.52px;
        letter-spacing: -0.2px;
        color: #24554a;
        margin-bottom: 27px;
      }
      p {
        font-family: $sans-serif-font;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: -0.11px;
        color: #24554a;
        width: 327px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .content-overlays {
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay {
      width: 50%;
      &.design {
        background-image: url('../images/desktop/image-graphic-design.jpg');
      }
      &.photography {
        background-image: url('../images/desktop/image-photography.jpg');
      }
    }
    .text p {
      width: 339px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-sm) {
  .content-overlays .overlay .text p {
    width: 300px;
  }
}
