nav {
  background: #3ebfff;
  width: 100%;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 40000;
}

.nav-desktop {
    display: none;
    .links {
        display: flex;
        align-items: center;
        flex-direction: row;
        a {
            color: white;
            text-decoration: none;
            font-size: $body-copy-font-size;
            font-family: $sans-serif-font;
            margin-right: 47px;
        }
        .cta {
            color: #24303E;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 56px;
            border-radius: 28px;
            text-align: center;
            font-family: $serif-font;
            &:hover {
                color: white;
                background: rgba(255,255,255,0.25);
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet){
    .nav-mobile {
        display: none;
    }
    .nav-desktop {
        display: flex;
    }
}
